{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>{% block title %} Home page {% endblock title %}</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="{% url 'home_page' %}">bulkashmak</a>
      </div>
      <nav>
        <ul class="nav_links">
          <li><a href="{% url 'posts_page' %}">posts</a></li>
          <li><a href="{% url 'about_page' %}">about</a></li>
        </ul>
      </nav>
    </header>
    <div class="semi-header">
      <p>{{ title }}</p>
    </div>
    <div class="wrapper">
      <div class="content">{% block content %} {% endblock content %}</div>
      <div class="sidebar">{% block sidebar %} {% endblock sidebar %}</div>
    </div>
    <footer>
      <p>© Bulkashmak</p>
    </footer>
  </body>
</html>
