{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block content %}
    {% if form.errors %}
        <p>
            The input is wrong.
        </p>
    {% endif %}
    {% if next %}
    {% comment %}
    If a user tries to access a page with @login_required,
    he will be redirected to login form, and after user logged in,
    he will be redirected back to the page that he tried to access(next).
    {% endcomment %}
        <p>
            You don't have access to that page.
        </p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <table class="login-table">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input class="log-button" type="submit" value="login" />
        <input type="hidden" value="{{ next }}" name="next" />
    </form>
    <br />

    <p>
        If u don't have an account, you can: 
        <a href="{% url 'register' %}"><button class="log-button" type="button">register</button></a>
    </p>

{% endblock content %}