{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
    <div class="account">
        <h3>Hello, {{ user.username }}</h3>
        <hr><br>
        <div>
            <h2>Your Posts</h2><br>
            {% for post in posts %}
                <div class="post">
                    <h5>
                        {{ post.title }} 
                    </h5>
                    <p>{{ post.content }}</p>
                    <p class="author">
                        Posted: {{ post.created }} | | 
                            {% if post.status == 1 %} Published
                            {% else %} Draft
                            {% endif %}
                    </p>
                    <a href="{% url 'delete_post' post.id %}">
                        <button class="delete-btn" type="button">delete</button>
                    </a>
                </div><br>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block sidebar %}
    <a href="{% url 'logout' %}"><button class="create_button" type="button">Log Out</button></a>
{% endblock sidebar %}