{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
    <div class="about_page">
        <h2>This is my first personal project</h2>
        <div class="contacts">
            <h3>My contacts:</h3>
            <ul>
                <li><a href="https://github.com/bulkashmak">Github</a></li>
                <li><a href="https://twitter.com/8ebop_">Twitter</a></li>
                <li><a href="https://t.me/bulkashmak">Telegram</a></li>
            </ul>
        </div>
    </div>
{% endblock content %}