{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
  {% for post in posts %}
    {% if post.status == 1 %}
      <div class="post">
        <h5 class="post_title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
        <p>{{ post.content }}</p>
        <p class="author">
          Posted: {{ post.created }} | | by <a href="#">{{ post.author }}</a>
        </p>
      </div>
    {% endif %}
  {% endfor %}
{% endblock content %}
{% block sidebar %}
  <div id="posts_sidebar">
    <a href={% url 'create_post_page' %}>
      <button class="create_button">Create a post</button>
    </a>
  </div>
  <br>
  <hr>
  <br>
  <h3>Use this form to search for a specific Post:</h3>
  <div class="search_form">
    <form method="get">
      {{ myFilter.form.as_p }}
      <button class="create_button" type="submit">Search</button>
    <form>
  </div>
{% endblock sidebar %}
