{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
  {% for post in posts %}
    {% if post.status == 1 %}
      <div class="post">
        <h5>{{ post.title }}</h5>
        <p>{{ post.content }}</p>
        <p class="author">Posted: {{ post.created }} | | by <a href="#">{{ post.author }}</a>
        </p>
      </div>
    {% endif %}
  {% endfor %}
{% endblock content %}
{% block sidebar %}
<div id="posts_sidebar">
  <a href={% url 'create_post_page' %}>
    <button class="create_button">Create a post</button>
  </a>
</div>
{% endblock sidebar %}
