{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
  <div class="search_form">
    <form method="get">
      <input id="search_bar" type="text" name="q" id="id_q" placeholder="Search...">
    <form>
  </div>
  {% for post in posts %}
    {% if post.status == 1 %}
      <div class="post">
        <h5 class="post_title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
        <p>{{ post.content }}</p>
        <p class="author">
          Posted: {{ post.created }} | | by <a href="#">{{ post.author }}</a>
        </p>
      </div>
    {% endif %}
  {% endfor %}
{% endblock content %}
{% block sidebar %}
<div id="posts_sidebar">
  <a href={% url 'create_post_page' %}>
    <button class="create_button">Create a post</button>
  </a>
</div>
{% endblock sidebar %}

<script type="text/javascript">
  document.getElementById("id_q").value = "{{ query }}"
</script>