{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'base.css' %}">
    <title>
        {% block title %}
        Home page
        {% endblock title %}
    </title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="https://github.com/bulkashmak">bulkashmak</a>
        </div>
        <nav>
            <ul class="nav_links">
                <li><a href="{% url 'home_page' %}">home</a></li>
                <li><a href="{% url 'about_page' %}">about</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>